
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=316c98ce998494d1ba8da02788727fc8
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress